<h1>Sistema de Cadastro </h1>
<a href="/alunos"><button>Lista dos alunos</button></a>
<a href="/alunos/cadastro"><button>Cadastrar novo aluno</button></a>
<hr>
<button>Cadastrar novo professor</button>
